PORT=8000
MONGODB_URI=mongodb+srv://kushagrasaxena1309:yourpassword@cluster0.atoiavp.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=ChaiaurCode
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SCERET=ChaiaurCodek
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SCERET=